[Desktop Entry]
Version=1.0
Type=Application
Exec=/firefox/firefox
Icon=/firefox/browser/chrome/icons/default/default128.png
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=firefox
Comment=Run a firefox
X-XFCE-Source=file:///usr/share/applications/xfce4-run.desktop
Path=
